.node-container{
	width: 200px;
	height: 5rem;
	padding: 2px 6px;
	background: #fff;

	p{
		height: 1.5rem;
		padding: 0;
		margin: 0;
		
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.type-date{
	display:flex;
	justify-content: space-between;
	padding-bottom: 5px;
}

.type{
	font-weight: 700;
}
.datetime{
	display: flex;
	align-items: center;
	font-size: .7rem;
}
.email{
	background:rgb(153, 234, 245);
}
.meeting{
	background:rgb(161, 245, 153);
}
.reminder{
	background:rgb(196, 153, 245);
}
.bold{
	font-weight: 500;
}


