.info-slider{
	position: absolute;
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 10px;
	top: 20vh;
	right: 0;
	z-index: 10;
	visibility: visible;
	background: rgb(153, 234, 245);

	&--hidden{
		visibility: hidden;
	}

}