.info-slider{
	position: absolute;
	top: 20vh;
	right: 0;
	z-index: 10;

	display: flex;
	flex-direction: column;
	visibility: visible;

	width: 40vw;
	min-width: 380px;
	border: 4px dashed rgb(68, 71, 71);
	border-radius: 10px;
	margin-right: 10px;
	padding: 20px;
	background: rgb(153, 234, 245);

	&--hidden{
		visibility: hidden;
		display: none;
	}
}

.hidden-div{
	display: none;
	visibility: hidden;
}

.visible-div{
	display: flex;
	flex-direction: column;
}

.email-div{
	background:rgb(153, 234, 245);
}
.meeting-div{
	background:rgb(161, 245, 153);
}
.reminder-div{
	background:rgb(196, 153, 245);
}

input{
	padding: 2px;
	margin-bottom: 10px;
}

.add-buttons-div{
	position:fixed;
	top: 0;
	z-index: 10;
}